/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
}
/* LESS setup */
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
.container {
  width: 800px;
  max-width: 100%;
  margin: 25px auto;
  padding: 25px;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
}
.container h1,
.container h2,
.container h3 {
  font-family: "Rubik", sans-serif;
  width: 100%;
  padding: 5px 0;
  display: block;
}
.container h1 {
  font-size: 4rem;
}
.container h2 {
  font-size: 2.4rem;
}
.container p {
  line-height: 1.4;
  font-size: 1.6rem;
  padding: 10px 0;
}
.container img {
  max-width: 100%;
}
.container header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.container header .space {
  width: 50%;
}
.container header nav {
  font-size: 1.7rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 50%;
}
.container header nav a {
  color: black;
  text-decoration: none;
  padding: 0 10px;
}
.container header nav a:hover {
  font-weight: bold;
  color: teal;
}
.container .heres-michael {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  padding: 40px 30px;
  background: aliceblue;
  border: 1px solid lightgrey;
}
.container .heres-michael hr {
  width: 100%;
  height: 1px;
  margin: 15px 0;
}
.container .heres-michael .photo {
  width: 100%;
  margin-bottom: 20px;
}
.container .heres-michael .text-container {
  width: 100%;
  padding: 0 1% 20px;
}
.container .heres-michael button {
  font-size: 1.8rem;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
  background: gray;
  color: white;
  padding: 10px 15px;
  margin-top: 5px;
  cursor: pointer;
}
.container .heres-michael button:hover {
  border: 1px solid lightgrey;
}
.container .whos-michael {
  display: flex;
  flex-flow: row wrap;
  justify-content: between;
  width: 100%;
}
.container .whos-michael .text-container {
  width: 50%;
  padding: 20px;
}
.container .whos-michael ul {
  border: 1px solid lightgrey;
  border-top: 0;
  margin: 10px 5px;
}
.container .whos-michael li {
  font-size: 1.5rem;
  padding: 10px 20px;
  width: 100%;
  border-top: 1px solid lightgrey;
}
.container .where-michaels-been {
  width: 100%;
  padding: 10px 30px;
}
.container .talk-to-michael {
  margin: 20px 0;
  padding: 10px 30px;
}
.container footer {
  width: 100%;
  height: 60px;
  margin: 20px 0 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  background: darkgray;
}
.container footer .copyright {
  font-size: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
}
